<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" id="cordova-plugin-custom-android-pay" version="0.1.0">
    <name>AndroidPay</name>
    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>
    <js-module src="www/androidPay.js" name="androidPay">
        <clobbers target="cordova.plugins.AndroidPay" />
    </js-module>
    <platform name="android">
        <framework src="com.google.android.gms:play-services-wallet:9+" value="gradle" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="androidPay">
                <param name="android-package" value="com.dorknstein.plugin.androidPay" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
            <receiver android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
        </config-file>
        <source-file src="src/android/androidPay.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/CheckoutActivity.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/ConfirmationActivity.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/Constants.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/EnvData.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/EnvProperties.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/FullWalletConfirmationButtonFragment.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/MainActivity.java" target-dir="src/com/dorknstein/plugin/" />
        <source-file src="src/android/ResponseActivity.java" target-dir="src/com/dorknstein/plugin/" />
    </platform>
</plugin>
